.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body[data-theme="light"]  {
    --title_color : hsl(0, 0%, 98%);
    --main_background: hsl(0, 0%, 98%);
    --border_checkbox : hsl(233, 11%, 84%);
    --placeholder_color : hsl(236, 9%, 61%);
    --background_list : white;
    --hover_footer_el : rgba(0, 0, 0, 0.825);
    --filter_active : hsl(220, 98%, 61%);
    --input_text : rgba(13, 12, 12, 0.891);
    --border_todo : rgba(0, 0, 0, 0.176);
    --hover_checkmark : rgba(98, 97, 97, 0.122);
    --hover_close_btn : rgba(0, 0, 0, 0.2);
    --hover_todo :rgb(209, 214, 229);
    --background_check_icon : #fff;
    transition: all 0.4s;


}
// hsl(235, 38%, 24%); background list
body[data-theme="dark"]  {
    --title_color : hsl(0, 0%, 98%);
    --main_background : hsl(235, 21%, 11%);
    --border_checkbox : hsl(234, 13%, 42%);
    --placeholder_color : hsl(234, 19%, 59%);
    --background_list : hsl(235, 24%, 19%);
    --input_text : hsl(234, 39%, 85%);
    --border_todo : rgba(255, 255, 255, 0.176);
    --hover_todo :rgba(75, 75, 84, 0.155);
    --filter_active : hsl(220, 98%, 61%);
    --background_check_icon: #262a54;
    transition: all 0.4s;


 background-color: var(--main_background);
.banner {
    background: url('../images/bg-mobile-dark.jpg') center/cover no-repeat;
}

 .container__header__theme  {
    background : url('../images/icon-sun.svg') center/cover no-repeat;
 }
};