//--define breakpoints
$breakpoints:  (
    'small': (max-width: 480px),
    'medium': (min-width: 768px),
    'large': (max-width: 1200px),
    'extra-large': (min-width: 1201px)
);

//-----fonts

$bold : 700 ;
$regular : 400;

// gradients

$gradient_checkbox : 315deg, hsl(192, 100%, 67%) to hsl(280, 87%, 65%);