//--define breakpoints
$breakpoints:  (
    'small': (max-width: 480px),
    'medium': (max-width: 768px),
    'large': (max-width: 1200px),
    'extra-large': (min-width: 1201px)
);

//-----fonts

$bold : 700 ;
$regular : 400;

// gradients

$gradient_checkbox : 315deg, rgba(224,48,206,1) 0%, rgba(199,73,200,1) 10%, rgba(47,170,230,1) 100% ;