@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

body[data-theme=light] {
  --title_color: hsl(0, 0%, 98%);
  --main_background: hsl(0, 0%, 98%);
  --border_checkbox: hsl(233, 11%, 84%);
  --placeholder_color: hsl(236, 9%, 61%);
  --background_list: white;
  --hover_footer_el: rgba(0, 0, 0, 0.825);
  --filter_active: hsl(220, 98%, 61%);
  --input_text: rgba(13, 12, 12, 0.891);
  --border_todo: rgba(0, 0, 0, 0.176);
  --hover_checkmark: rgba(98, 97, 97, 0.122);
  --hover_close_btn: rgba(0, 0, 0, 0.2);
  --hover_todo:rgb(209, 214, 229);
  --background_check_icon: #fff;
  transition: all 0.4s;
}

body[data-theme=dark] {
  --title_color: hsl(0, 0%, 98%);
  --main_background: hsl(235, 21%, 11%);
  --border_checkbox: hsl(234, 13%, 42%);
  --placeholder_color: hsl(234, 19%, 59%);
  --background_list: hsl(235, 24%, 19%);
  --input_text: hsl(234, 39%, 85%);
  --border_todo: rgba(255, 255, 255, 0.176);
  --hover_todo:rgba(75, 75, 84, 0.155);
  --filter_active: hsl(220, 98%, 61%);
  --background_check_icon: #262a54;
  transition: all 0.4s;
  background-color: var(--main_background);
}
body[data-theme=dark] .banner {
  background: url("../images/bg-mobile-dark.jpg") center/cover no-repeat;
}
body[data-theme=dark] .container__header__theme {
  background: url("../images/icon-sun.svg") center/cover no-repeat;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  background-color: var(--main_background);
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background: url("../images/bg-mobile-light.jpg") center/cover no-repeat;
  width: 100vw;
  height: 20vh;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin-top: 5vh;
}
.container__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}
.container__header__title {
  color: var(--title_color);
  letter-spacing: 6px;
  font-size: 2.8rem;
  font-weight: 700;
}
.container__header__theme {
  background: url("../images/icon-moon.svg") center/cover no-repeat;
  height: 20px;
  width: 20px;
}
.container__input {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  position: relative;
  background-color: var(--background_list);
}
.container__input > input[type=text] {
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: inherit;
  padding-left: 50px;
  color: var(--input_text);
  background-color: var(--background_list);
}
.container__input > input[type=text]:focus {
  outline: none;
}
.container__input > input[type=text]::-moz-placeholder {
  font-size: 1.2rem;
  color: var(--placeholder_color);
}
.container__input > input[type=text]:-ms-input-placeholder {
  font-size: 1.2rem;
  color: var(--placeholder_color);
}
.container__input > input[type=text]::placeholder {
  font-size: 1.2rem;
  color: var(--placeholder_color);
}
.container__input__checkboxs {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  cursor: pointer;
  background-color: transparent;
}
.container__input__checkboxs .checkmark {
  position: absolute;
  border: 1px solid var(--border_checkbox);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--background_list);
  transition: background-color 0.15s ease-in;
}
.container__todos {
  background-color: var(--background_list);
  color: var(--input_text);
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.container__todos:first-child {
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: red;
}
.container__footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: var(--background_list);
  color: var(--placeholder_color);
  font-size: 1.1rem;
  box-shadow: 0px 15px 15px 7px rgba(0, 0, 0, 0.05);
}
.container__footer .clear-completed {
  cursor: pointer;
  margin-right: 20px;
}
.container__footer .clear-completed:hover {
  color: var(--hover_footer_el);
}
.container__footer .items {
  margin-left: 20px;
}
.container__footer__filter {
  position: absolute;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 100%;
  height: 50px;
  border-radius: 9px;
  background-color: var(--background_list);
  cursor: pointer;
  font-weight: 700;
  font-size: 1.4rem;
}
.container__footer__filter .filters[data-filter=active] {
  color: var(--filter_active);
}

.todo {
  display: grid;
  grid-template-columns: 25px 1fr 35px;
  justify-items: start;
  align-items: center;
  padding: 10px 15px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  min-height: 40px;
  border-bottom: 1px solid var(--border_todo);
  width: 100%;
  transition: background-color 0.35s;
  background-color: var(--background_list);
}
.todo:hover {
  background-color: var;
}
.todo:hover > button {
  opacity: 1;
}
.todo__input {
  position: relative;
  cursor: pointer;
  background-color: transparent;
}
.todo__input .checkbox {
  opacity: 0;
  height: 0;
  width: 0;
  border: 0;
}
.todo__input .checkmark {
  position: absolute;
  border: 1px solid var(--border_checkbox);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--background-list);
  transition: background-color 0.15s ease-in;
}
.todo__input .checkmark:before {
  content: "";
  position: absolute;
  background: linear-gradient(315deg, rgb(224, 48, 206) 0%, rgb(199, 73, 200) 10%, rgb(47, 170, 230) 100%);
  border-radius: 50%;
}
.todo__input .checkmark > svg {
  position: absolute;
  opacity: 0;
  z-index: 1;
  top: 50%;
  left: 45%;
  transform: translate(-45%, -50%);
  height: 45%;
  width: 45%;
}
.todo__input .checkmark:after {
  content: "";
  display: none;
  position: absolute;
  background: linear-gradient(315deg, rgb(224, 48, 206) 0%, rgb(199, 73, 200) 10%, rgb(47, 170, 230) 100%);
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.todo__input .checkmark:hover {
  background: var(--hover_checkmark);
}
.todo__input .checkbox:checked ~ .checkmark::after {
  display: block;
}
.todo__input .checkbox:checked ~ .checkmark > svg {
  opacity: 1;
}
.todo__content {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 1.3rem;
}
.todo__content[data-content=isnotactive] {
  text-decoration: line-through;
  font-style: italic;
  font-size: 1.1rem;
  color: var(--placeholder_color);
}
.todo button {
  opacity: 0;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  justify-self: end;
  height: 25px;
  width: 25px;
  transition: opacity 0.35s;
}
.todo button > img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.todo button:hover {
  transform: scale(1);
  -webkit-animation: rotateCross 1s 100ms forwards;
          animation: rotateCross 1s 100ms forwards;
}
@-webkit-keyframes rotateCross {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1.7) rotate(180deg);
  }
}
@keyframes rotateCross {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1.7) rotate(180deg);
  }
}/*# sourceMappingURL=main.css.map */