@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

html  {
    font-size: 62.5%;
}

body  {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    background-color: var(--main_background);
}
.banner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    background: url('../images/bg-mobile-light.jpg') center/cover no-repeat;
    width: 100vw;
    height: 20vh;

}
.container  {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-top: 5vh;


    &__header  {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 25px;
        &__title  {
            color: var(--title_color);
            letter-spacing: 6px;
            font-size: 2.8rem;
            font-weight: $bold;
        }
        &__theme  {
            background: url('../images/icon-moon.svg') center/cover no-repeat;
            height: 20px;
            width:20px;
        }
    }

    &__input  {
        width: 100%;
        height: 50px;
        border-radius: 6px;
        position: relative;
        background-color: var(--background_list);
        
        & > input[type="text"]  {
            font-family: 'Josefin Sans', sans-serif;
            height: 100%;
            width: 100%;
            border: 0;
            border-radius: inherit;
            padding-left: 50px;
            color: var(--input_text);
            background-color: var(--background_list);

            &:focus {
                outline: none;
            }

            &::placeholder  {
                font-size: 1.2rem;
                color: var(--placeholder_color);
            }
        }
        &__checkboxs  {
            position: relative;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            cursor: pointer;   
            background-color: transparent; 
            
            .checkmark  {
                position: absolute;
                border: 1px solid var(--border_checkbox);
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: var(--background_list);
                transition: background-color 0.15s ease-in;
            }
        }
    }
    &__todos  {
        
        background-color: var(--background_list);
        color: var(--input_text);
        width: 100%;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        &:first-child{
            border-top-left-radius: 9px;
            border-bottom-right-radius: 9px;
            background-color: red;
        }
     
    }
    &__footer  {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 15px 0;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        background-color: var(--background_list);
        color: var(--placeholder_color);
        font-size: 1.1rem;
        box-shadow: 0px 15px 15px 7px rgba(0, 0, 0, 0.05);

        .clear-completed  {
            cursor: pointer;
            margin-right: 20px;
            &:hover {
                color: var(--hover_footer_el);
            }
        }
        .items  {
            margin-left: 20px;
        }


        &__filter{
            position: absolute;
            top: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 15px;
            width: 100%;
            height: 50px;
            border-radius: 9px;
            background-color: var(--background_list);
            cursor: pointer;
            font-weight: $bold;
            font-size: 1.4rem;

            .filters[data-filter=active]{
                color: var(--filter_active);
            }
        }

    }

}

.todo {
    display: grid;
    grid-template-columns: 25px 1fr 35px;
    justify-items: start;
    align-items: center;
    padding: 10px 15px;
    column-gap: 15px;
    min-height: 40px;
    border-bottom: 1px solid var(--border_todo);
    width: 100%;
    transition: background-color 0.35s ;
    background-color: var(--background_list);

    &:hover {
        background-color: var;

        & > button {
            opacity: 1;
        }
    }

    &__input  {

        position: relative;
        cursor: pointer;   
        background-color: transparent;

        .checkbox  {
            opacity: 0;
            height: 0;
            width: 0;
            border: 0;
        }  
        
        .checkmark  {
            position: absolute;
            border: 1px solid var(--border_checkbox);
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: var(--background-list);
            transition: background-color 0.15s ease-in;

            &:before {
                content: "";
                position: absolute;
                background: linear-gradient(315deg, rgba(224,48,206,1) 0%, rgba(199,73,200,1) 10%, rgba(47,170,230,1) 100%);
                // height: 26px;
                // width: 26px;
                border-radius: 50%;
            }
    
            & > svg{
                position: absolute;
                opacity: 0;
                z-index: 1;
                top: 50%;
                left: 45%;
                transform: translate(-45%, -50%);
                height: 45%;
                width: 45%;
            }
            &:after  {
                content: "";
                display: none;
                position: absolute;
                background:linear-gradient(315deg, rgba(224,48,206,1) 0%, rgba(199,73,200,1) 10%, rgba(47,170,230,1) 100%);
                top: 0;
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
            &:hover  {
                background: var(--hover_checkmark);
            }
        }
        .checkbox:checked ~ .checkmark::after {
            display: block;
        }
        .checkbox:checked ~ .checkmark > svg  {
            opacity: 1;
        }
    

    }
    &__content  {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        font-size: 1.3rem;

        &[data-content=isnotactive] {
            text-decoration: line-through;
            font-style: italic;
            font-size: 1.1rem;
            color: var(--placeholder_color);

        }
    }
    button {
        opacity: 0;
        border: 0;
        border-radius: 50%;
        background-color: transparent;
        justify-self: end;
        height: 25px;
        width: 25px;
        transition: opacity 0.350s ;

        & > img {
            width: 100%;
            object-position: center;
            object-fit: cover;
            cursor: pointer;
        }
        &:hover  {
           transform: scale(1);
           animation: rotateCross 1s 100ms forwards;


           @keyframes rotateCross {
            0% {
                transform: scale(1) rotate(0)
            
            }
            100% {
                transform: scale(1.7) rotate(180deg);
            }
            
           }
           
        }
    }
}




